.contenedor { 
    margin: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.cards {
    width: 13em;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border: 1px solid rgba(255,255,255,0.1);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    border-radius: 24px;
    padding: 10px;
    
}

.cards:hover{
    transform: scale(1.05);
   
    -webkit-box-shadow: 0px 0px 21px 0px rgb(59, 185, 116);
    -moz-box-shadow: 0px 0px 21px 0px rgb(59, 185, 116);
    box-shadow: 0px 0px 21px 0px rgb(59, 185, 116);
     transition: 0.1s ease-in;
}

.image {
    border-radius: 1em;
    width: 13em;
    height: 13em;
}

.font {
    font-family: "rickandmorty", "Courier New",monospace;
    color: white;
    text-shadow: 0.1em 0.1em 0.3em #000000;
    font-size: 0.6em;
    letter-spacing: 4px;
}

.inf {
    font-family: "rickandmorty";
}

.name {
    height: 3.5em;
    width: 8.7em;
    text-align: center;
    font-family: "rickandmorty", "Courier New",monospace;
    font-size: 1.15em;
    color: rgb(59, 185, 116);
    text-shadow: 0.1em 0.1em 0.3em #000000;
}

.botones {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.button {
    color: white;
    text-shadow: 0.1em 0.1em 0.3em #000000;
    display: none;
    font-weight:bolder;
    width:65px;
    height: 20px;
    background-color: rgb(59, 185, 116);
    font-family: "Courier New",monospace;
    border-radius: 10px;
    border-color: rgb(64, 138, 113);
    
}

.button:hover{
    border: 2px solid rgb(59, 185, 116);
    color: rgb(14, 197, 136);
    background-color: #17181c;
    cursor: pointer;
    transition: 0.2s ease-in;
}


.cards:hover .button {
    display: block;
}

a {
    text-decoration: none;
}

.buttonFavorite {
    background: none;
    border: none;
    display: none;
    cursor: pointer;

}

.buttonFavorite:hover {
    transform: scale(1.3);
}

.cards:hover .buttonFavorite{
    animation: animacion infinite linear 1300ms;    
    display: block;
}

@keyframes animacion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 640px) {
    .contenedor {  
        width: 95%;
        padding-top: 45px;
        margin: 10px;
        padding-bottom: 15px;
        gap: 1.5em;
        display: flex;
        justify-content: center;
        height: 90%;
       
    }

    .select {
        width: 10px;
    }

    .select option {
        font-size: 10px;
        
    }

    .order {
            margin-top: 50px;
            width: 89   %;
            
    }
    
    .cards {
        width: 10em;
        height: 300px;
    }

    .image {
        border-radius: 1em;
        width: 8em;
        height: 8em;
    }

    .font {
        font-family: "Courier New",monospace;
        color: white;
        text-shadow: 0.1em 0.1em 0.3em #000000;
        font-size: 0.6em;
    }

    .name {
        height: 3em;
        width: 100%;
        font-size: 1.05em;
    }
}

.contendorFavorites {
    margin: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    flex-direction: column-reverse;
    gap: 1.5em;
    flex-wrap: wrap;
}

.order {

    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.cardsFavorites {
    margin: 50px;
    margin-top: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content:center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.select {
    background-color: rgb(59, 185, 116);
    width: 13em;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    font-family: "rickandmorty","Courier New",monospace;
    color: white;
    text-shadow: 0.1em 0.1em 0.3em #000000;
    letter-spacing: 5px; 
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,1);
}

.select:focus,
.select:hover {
    border: 2px solid rgb(59, 185, 116);
    color: rgb(59, 185, 116);
    background-color: #17181c;
    cursor: pointer;
    transition: 0.2s ease-in;
}




